<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>servlet.HelloWorldServlet</servlet-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>xiaoming</param-value>
		</init-param>
		<init-param>
			<param-name>age</param-name>
			<param-value>21</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/servlet/Hello</url-pattern>
	</servlet-mapping>
</web-app>